@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color:#A2DBFA ;
}

.navbar {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a{
  font-size: 50px;
  font-weight: 600;
  float: left;
  color: #04009A;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 75px;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  background: #E8F0F2;
  z-index: 1;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color:black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #04009A;
}

img {
  width: 700px;
}


section {
  display: flex;
  margin-bottom: 50px;
  margin:auto;
  padding-top: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  color: #04009A;
  text-align: center;
}

.kolom p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  color: #04009A;
  width: 100%;
  line-height: 50px;
  text-align: center;
}

a.tbl-biru {
  background: #04009A;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background:#77ACF1 ;
  text-decoration: none;
}

a.tbl-bm {
  background: #77ACF1;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-bm:hover {
  background: #04009A;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

nav.sticky {
  background: #334257;
}

nav.sticky ul li a {
  color: #FFFFFF;
}

nav.sticky a{
  color: #FFFFFF;
}


.tengah {
  text-align: center;
  width: 100%;
}

.tengah p {
  font-size: 20px;
}

.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-tutor {
  width: 25%;
  margin:0 auto;
  padding-top: 10px;
  border-radius: 15px;
  border:solid #E8F0F2;
}

.kartu-tutor:hover {
  background-color: #548CA8;
  border: solid #334257;
}

.kartu-tutor img {
  width: 60%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #04009A;
}

.kartu-tutor h2 {
  font-size: 15px;
  text-align: center;
  color: black;
}

aside {
  width: 100%;
}

.profile-card {
  margin-top: 80px;
  margin-bottom: 10px;
  width: 30%;
  border: solid #E8F0F2;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.profile-card:hover {
  background-color: #548CA8;
  border: solid #334257;
}

.profile-card h2 {
  margin-top: 90px;
  margin-bottom: 10px;
}


.profile-card p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

figure img {
  width: 250px;
  border-radius: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top:  75px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  background-color:#E8F0F2;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 991.98px) {
  .navbar {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  img {
    width: 100%;
  }

  #home {
    padding-top: 50%;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .kartu-tutor {
    width: 50%;
  }

  .kolom {
    width: 100%;
  }

  figure img {
    width: 50%;
  }

  .profile-card {
    width: 100%;
  }

  footer {
   width: 100%;
   padding:auto;
   margin: auto;
  } 
}

